.profile-card {
  text-align: center;
  img {
    width: 120px;
    height: 70px;
   
  }
  padding-left: 20px;
  padding-right: 20px;
}


::ng-deep .mat-toolbar {
  z-index: 999;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
mat-list-item {
  height: 45px !important;
  line-height: 35px;
  font-size: 12px !important;
  background-color: #ffffff !important;
  color: #e25618 !important;
  cursor: pointer;
  .mat-icon {
    vertical-align: bottom;
    font-size: 20px;
    font-weight: bold;
    color: gray;
  }
}

mat-list-item a:hover {
  background-color: #FADBD8 !important;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  width: 100% !important;
  color: #e25618 !important;
   cursor: pointer;

  mat-icon {
    vertical-align: bottom;
    font-size: 20px;
    font-weight: bold;
    color: #a8382c !important;
  }
}
mat-expansion-panel-header{
  font-size: 12px !important;
  background-color: #ffffff !important;
  color: #e25618 !important;

  .mat-icon {
    vertical-align: bottom;
    font-size: 20px;
    font-weight: bold;
    color: gray;
  }
}
mat-expansion-panel-header:hover {
  background-color: #FADBD8 !important;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  width: 100% !important;
  color: #a8382c !important;

  mat-icon {
    vertical-align: bottom;
    font-size: 20px;
    font-weight: bold;
    color: #a8382c !important;
  }
}

.active-list-item {
  color: #E74C3C !important;
  background-color: #FADBD8 !important;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  width: 100% !important;

  mat-icon {
    color: #E74C3C !important;
  }
}




::ng-deep .mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


mat-sidenav-container{
  min-height: 490px !important;
}