<div class="example-container" style="height: 100vh;">
    <mat-toolbar style="flex: 0 0 128px; background-color: #F2F3F4   ; color: gray; margin-top: -0.3%;">
        <span style="flex: 1 1 auto;"></span>
        <div>
            <button mat-icon-button matTooltip="Full Screen" toggleFullscreen mat-button (click)="toggleFullscreen()">
                <mat-icon>{{hide ? 'crop_free' : 'fullscreen_exit'}}</mat-icon>
            </button>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="all-wrap">
        <mat-sidenav mode="side" #sidenav [opened]="screenWidth! > 640" position="start" style="margin-top: 58px; ">
            <div class="profile-card mt-3 mb-3">
                <div class="header">
                    <img style="height: 50xpx; width: 135px;" class="img-login-logo" src="../../../../assets/img/logo.jpeg" alt="Logo">
                </div>
            </div>

            <mat-divider></mat-divider>

            <mat-nav-list class="side-navnar">
                <ng-container *ngFor="let menu of menuList ; index as i;">
                    <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="active-list-item"  [routerLinkActiveOptions]="{exact:true}">
                        <mat-icon>{{menu.icon}}</mat-icon> {{menu.text}}
                    </mat-list-item>
                </ng-container>
            </mat-nav-list>
            <mat-divider></mat-divider>
        </mat-sidenav>
        <mat-sidenav-content class="page-wrap" style="height: 95vh;">
            <div class="container" >
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>