
    <router-outlet></router-outlet>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#902d34" type = "square-jelly-box" [fullScreen] = "true"><p style="color: #902d34" > Loading... </p></ngx-spinner>
  