<section>

    <mat-card>
        <mat-card-header>
            <mat-card-title>KPI</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
                <mat-tab label='{{tabTitle}}'>
                    <mat-card class="mt-2 min-height-500">
                        <mat-card-content>

                            <form *ngIf="kpiForm" [formGroup]="kpiForm">
                                <div class="row">
                                    <mat-form-field class="col-md-6" appearance="outline">
                                        <mat-label>KPI Template Name</mat-label>
                                        <input matInput type="text" formControlName="name">
                                        <mat-error *ngIf="myError('name', 'required')">KPI Template Name is
                                            required</mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="col-md-6" appearance="outline">
                                        <mat-label>KPI Template Description</mat-label>
                                        <input matInput type="text" formControlName="description">
                                        <mat-error *ngIf="myError('description', 'required')">KPI Template Description
                                            is required</mat-error>
                                    </mat-form-field>

                                    <div class="col-md-6 form-group ">
                                        <ng-select formControlName="departmentName" class="required"
                                            appearance="outline" placeholder="Select Department">
                                            <ng-option *ngFor="let dep of DepartmentList"
                                                [value]="dep.id">{{dep.name}}</ng-option>
                                        </ng-select>
                                        <span class="text-danger"
                                            *ngIf="kpiForm.get('departmentName')!.invalid && kpiForm.get('departmentName')!.touched">
                                            <span
                                                *ngIf="kpiForm.get('departmentName')!.errors && kpiForm.get('departmentName')!.hasError('required') ">
                                                Department Name is required
                                            </span>
                                        </span>
                                    </div>


                                    <div class="col-md-6" style="margin-top: 4px;">
                                        <strong>Self Reviewer (Enable/Disable) </strong> &nbsp; &nbsp; <mat-slide-toggle
                                            style="height: 50%;" formControlName="has_self_Review"></mat-slide-toggle>
                                        &nbsp;
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <button type="button" style="background-color: #902d34; color:white;"
                                                mat-button (click)="addKpiMatrix()">Add New Matrix
                                            </button>
                                        </div>
                                    </div>
                                    <mat-accordion class="row" #accordion="matAccordion" multi>
                                        <div formArrayName="KpiMatrix">
                                            <div *ngFor="let block of KpiMatrix()['controls'];  let i = index">
                                                <div [formGroupName]="i" class="mb-3">

                                                    <mat-expansion-panel #mapanel="matExpansionPanel">
                                                        <mat-expansion-panel-header
                                                            style="background-color: #F2F4F4 !important;">
                                                            <mat-panel-title class="row">
                                                                <div class="col-md-11">
                                                                    KPI Matrix Details
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <mat-icon *ngIf="i!=0" class="mat-icon-delete"
                                                                        (click)="removeKpiMatrix(i)">delete_outline</mat-icon>
                                                                </div>
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <mat-divider></mat-divider>

                                                        <div class="row">
                                                            <mat-form-field class="col-md-6">
                                                                <input type="text" matInput
                                                                    placeholder="KPI Matrix Title"
                                                                    formControlName="title" />
                                                                <mat-error *ngIf="myErrorArray('title', 'required',i)">
                                                                    KPI Matrix Title is
                                                                    required</mat-error>
                                                                <mat-error
                                                                    *ngIf="myErrorArray('title', 'pattern',i)">Please
                                                                    provide
                                                                    a valid KPI Matrix Title</mat-error>
                                                            </mat-form-field>

                                                            <mat-form-field class="col-md-6">
                                                                <input type="text" matInput
                                                                    placeholder="KPI Matrix Tooltip"
                                                                    formControlName="tooltip" />
                                                                <mat-error
                                                                    *ngIf="myErrorArray('tooltip', 'required',i)">
                                                                    KPI Matrix Tooltip is
                                                                    required</mat-error>
                                                                <mat-error
                                                                    *ngIf="myErrorArray('tooltip', 'pattern',i)">Please
                                                                    provide
                                                                    a valid KPI Matrix Tooltip</mat-error>
                                                            </mat-form-field>

                                                            <mat-form-field class="col-md-6">
                                                                <input type="text" matInput
                                                                    placeholder="KPI Matrix Weightage"
                                                                    formControlName="weightage" />
                                                                <mat-error
                                                                    *ngIf="myErrorArray('weightage', 'required',i)">
                                                                    KPI Matrix Weightage is
                                                                    required</mat-error>
                                                                <mat-error
                                                                    *ngIf="myErrorArray('weightage', 'pattern',i)">Please
                                                                    provide
                                                                    a valid KPI Matrix !eightage</mat-error>
                                                            </mat-form-field>

                                                        </div>


                                                        <div class="row">
                                                            <div class="col-md-12 mb-2">
                                                                <button type="button"
                                                                    style="background-color: #902d34; color:white;"
                                                                    mat-button (click)="addKpiSubMatrix(i)">Add Sub
                                                                    Matrix
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div formArrayName="kpiSubMatrix">
                                                            <div
                                                                *ngFor="let building of KpiSubMatrix(i)['controls']; let j = index">
                                                                <div [formGroupName]="j" class="mb-3">

                                                                    <mat-expansion-panel #mapanel="matExpansionPanel">
                                                                        <mat-expansion-panel-header
                                                                            style="background-color: #F2F4F4 !important;">
                                                                            <mat-panel-title class="row">
                                                                                <div class="col-md-11">
                                                                                    KPI SubMatrix
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <mat-icon class="mat-icon-delete"
                                                                                        *ngIf="j!=0"
                                                                                        (click)="removeKpiSubMatrix(i,j)">delete_outline</mat-icon>
                                                                                </div>
                                                                            </mat-panel-title>
                                                                        </mat-expansion-panel-header>

                                                                        <mat-divider></mat-divider>

                                                                        <div class="row">
                                                                            <mat-form-field class="col-md-6">
                                                                                <input matInput
                                                                                    placeholder="KPI Sub Matrix Name"
                                                                                    formControlName="name" />
                                                                                <mat-error>KPI Sub Matrix Name is
                                                                                    required</mat-error>
                                                                            </mat-form-field>

                                                                        </div>

                                                                    </mat-expansion-panel>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </mat-expansion-panel>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-accordion>

                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-4">
                                        <button mat-raised-button style="background-color: #902d34; color:white;"
                                            (click)="submitForm()">{{buttonTitle}}</button>
                                    </div>
                                </div>
                            </form>

                        </mat-card-content>
                    </mat-card>
                </mat-tab>

                <mat-tab label="VIEW">
                    <mat-card>
                        <mat-card-content>
                            <mat-form-field>
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
                            </mat-form-field>
                            <div class="row mt-2 float-right filter-class">

                            </div>


                            <div style="margin-top: 1px; ">
                                <div class="row table-responsive">
                                    <table mat-table [dataSource]="KpiList" matSort>
                                        <ng-container matColumnDef="Department">
                                            <th mat-header-cell *matHeaderCellDef> Department </th>
                                            <td mat-cell *matCellDef="let element"> {{element.department.name}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="Name">
                                            <th mat-header-cell *matHeaderCellDef> KPI Template Name </th>
                                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="Description">
                                            <th mat-header-cell *matHeaderCellDef>KPI Description </th>
                                            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                                        </ng-container>




                                        <ng-container matColumnDef="Action">
                                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                                            <td mat-cell *matCellDef="let element">
                                                <div class="row">
                                                    <div class="col-sm-2" style="margin-top: 0px;">
                                                        <mat-icon style="color: #902d34; "
                                                            (click)="deleteKPi(element)"
                                                            title="Update">delete_outline</mat-icon>
                                                    </div>
                                                    <div class="col-sm-2" style="margin-bottom: 0px;">
                                                        <mat-icon style="color: #902d34; "
                                                            (click)="updateEvent(element)"
                                                            title="Update">update</mat-icon>
                                                    </div>
                                                </div>
                                            </td>
                                        </ng-container>


                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>

                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                        aria-label="Select page of users"></mat-paginator>

                                </div>
                            </div>
                        </mat-card-content>

                    </mat-card>
                </mat-tab>

            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</section>